SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@example.com
SMTP_PASS=your-app-password
REPORT_TO_EMAIL=puzzlemind89@gmail.com
ADMIN_KEY=amoke123
MONGODB_URI=mongodb+srv://phoenix2105:amoke123@bitaudit.i2nxyvd.mongodb.net/?appName=Bitaudit
MONGODB_DB_NAME=bitaudit
